<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Opening Campaign</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Analytical queries</h1>
        <p>Click button to view respective analytics.</p>
        <div class="buttons">
            <a href="/query_1" class="button">Applicants for faculties</a>
            <a href="/query_2" class="button">All marks for students</a>
            <a href="/query_3" class="button">Exams schedule</a>
            <a href="/query_4" class="button">Average results for each faculty</a>
        </div>
        <div class="navigation-buttons">
            <a href="/" class="button-nav">Back to Main Menu</a>
        </div>
    </div>
</body>
</html>
