<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Opening Campaign</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Tables actions</h1>
        <p>Click button to modify/view respective table's values.</p>
        <div class="buttons">
            <a href="/applicants" class="button">Applicants</a>
            <a href="/applications" class="button">Applications</a>
            <a href="/faculties" class="button">Faculties</a>
            <a href="/departments" class="button">Departments</a>
            <a href="/streams" class="button">Streams</a>
            <a href="/eventtypes" class="button">Event types</a>
            <a href="/events" class="button">Events</a>
            <a href="/examresults" class="button">Exam results</a>
        </div>
        <div class="navigation-buttons">
            <a href="/" class="button-nav">Back to Main Menu</a>
        </div>
    </div>
</body>
</html>
